@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

@keyframes favorite-pop {
  0% { transform: scale(.7); }
  70% { transform: scale(1.22); }
  100% { transform: scale(1); }
}

